*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 5rem 0;
}

.is-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.is-title.is-size-1 {
  font-size: 4rem;
}
.is-title.is-size-2 {
  font-size: 3rem;
}

.reset-img {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: auto;
}

.is-clickable {
  cursor: pointer;
}

.player-controls {
  padding: 3rem;
}
.player-controls img {
  margin: 0 1rem;
  width: 80px;
  height: auto;
}

.text-center {
  text-align: center;
}

.score-table table {
  margin: 0 auto;
}
.score-table td,
.score-table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.score-table table tfoot td,
.score-table table thead th {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .is-title.is-size-1 {
    font-size: 2rem !important;
  }
  .is-title.is-size-2 {
    font-size: 1.5rem;
  }

  .player-controls img {
    width: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}
